<?xml version='1.0' encoding='windows-1252'?>

<?if $(sys.BUILDARCH) = x64 or $(sys.BUILDARCH) = arm64?>
    <?define PlatformProgramFilesFolder = "ProgramFiles64Folder"?>
<?else?>
    <?define PlatformProgramFilesFolder = "ProgramFilesFolder"?>
<?endif?>

<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'
    xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">

    <Product
        Id='*'
        Name='NAS Boot Client'
        UpgradeCode='6CFD3C18-D5B1-4ECA-80AE-27F0BA4602CD'
        Manufacturer='Daniel Gehriger'
        Language='1033'
        Codepage='1252'
        Version='$(var.Version)'>

        <Package Id='*'
            Keywords='Installer'
            Description='Client for NAS boot service'
            Manufacturer='Daniel Gehriger'
            InstallerVersion='450'
            Languages='1033'
            Compressed='yes'
            InstallScope='perMachine'
            SummaryCodepage='1252'
        />

        <MajorUpgrade
            Schedule='afterInstallInitialize'
            DowngradeErrorMessage='A newer version of [ProductName] is already installed. Setup will now exit.' />

        <Media Id='1' Cabinet='media1.cab' EmbedCab='yes' DiskPrompt='CD-ROM #1' />
        <Property Id='DiskPrompt' Value='NAS Boot Client Installation' />

        <Directory Id='TARGETDIR' Name='SourceDir'>
            <Directory Id='$(var.PlatformProgramFilesFolder)' Name='PFiles'>
                <Directory Id='APPLICATIONFOLDER' Name='NAS Boot Client'>
                    <Component Id='License' Guid='*'>
                        <File Id='LicenseFile'
                            DiskId='1'
                            Source='wix\License.rtf'
                            KeyPath='yes' />
                    </Component>

                    <Directory Id='Bin' Name='bin'>
                        <Component Id='binary0' Guid='*'>
                            <File
                                Id='exe0'
                                Name='nas-boot-client.exe'
                                DiskId='1'
                                Source='$(var.CargoTargetBinDir)\nas-boot-client.exe'
                                KeyPath='yes' />

                            <!-- Add shortcut to the startup folder for current user autostart -->
                            <Shortcut Id="StartupShortcut"
                                Directory="StartupFolder"
                                Name="NAS Boot Client"
                                WorkingDirectory="APPLICATIONFOLDER"
                                Icon="nas_black.ico"
                                IconIndex="0"
                                Advertise="yes" />

                            <!-- Add shortcut to the start menu -->
                            <Shortcut Id="StartMenuShortcut"
                                Directory="ProgramMenuDir"
                                Name="NAS Boot Client"
                                WorkingDirectory="APPLICATIONFOLDER"
                                Icon="nas_black.ico"
                                IconIndex="0"
                                Advertise="yes" />
                        </Component>
                    </Directory>

                    <!-- Icons that will be included in the installer -->
                    <Component Id='AppIcons' Guid='*'>
                        <File Id='nas_black.ico'
                            Name='nas_black.ico'
                            DiskId='1'
                            Source='assets\nas_black.ico'
                            KeyPath='yes' />
                    </Component>
                </Directory>
            </Directory>

            <!-- Add Start Menu Directory -->
            <Directory Id="ProgramMenuFolder" Name="Programs">
                <Directory Id="ProgramMenuDir" Name="NAS Boot Client">
                    <Component Id="ProgramMenuDir" Guid="*">
                        <RemoveFolder Id='ProgramMenuDir' On='uninstall' />
                        <RegistryValue Root='HKCU' Key='Software\[Manufacturer]\[ProductName]'
                            Type='string' Value='' KeyPath='yes' />
                    </Component>
                </Directory>
            </Directory>

            <!-- Add Startup Folder for auto-start -->
            <Directory Id="StartupFolder" Name="StartupFolder" />

            <!-- Add configuration directory in user profile -->
            <Directory Id="CommonAppDataFolder" Name="ProgramData">
                <Directory Id="ConfigDir" Name="NASBootClient">
                    <Component Id="ConfigFolder" Guid="A1B2C3D4-E5F6-7890-ABCD-EF1234567890">
                        <CreateFolder>
                            <Permission User="Everyone" GenericAll="yes" />
                        </CreateFolder>

                        <!-- Add registry entry to store config directory location -->
                        <RegistryValue Root="HKLM"
                            Key="Software\[Manufacturer]\[ProductName]"
                            Name="ConfigDir"
                            Type="string"
                            Value="[ConfigDir]" />

                        <!-- Install the configuration file -->
                        <File Id="ConfigFile"
                            Name="nas-boot-client-config.yaml"
                            DiskId="1"
                            Source="wix\nas-boot-client-config.yaml"
                            KeyPath="yes" />

                        <RemoveFolder Id="ConfigDirRemove" On="uninstall" />
                        <!-- Fix the RemoveFolderEx property -->
                        <util:RemoveFolderEx Id="ConfigFolderCleanup" On="uninstall"
                            Property="CONFIGDIR" />
                    </Component>
                </Directory>
            </Directory>
        </Directory>

        <Feature
            Id='Complete'
            Title='NAS Boot Client'
            Description='Installs the NAS Boot Client application.'
            Level='1'
            ConfigurableDirectory='APPLICATIONFOLDER'
            AllowAdvertise='no'
            Display='expand'
            Absent='disallow'>

            <ComponentRef Id='License' />
            <ComponentRef Id='binary0' />
            <ComponentRef Id='AppIcons' />
            <ComponentRef Id='ConfigFolder' />
            <ComponentRef Id='ProgramMenuDir' />
        </Feature>

        <Icon Id="nas_black.ico" SourceFile="assets\nas_black.ico" />
        <Property Id="ARPPRODUCTICON" Value="nas_black.ico" />

        <SetProperty Id='ARPINSTALLLOCATION' Value='[APPLICATIONFOLDER]' After='CostFinalize' />

        <Property Id='ARPHELPLINK' Value='https://github.com/dgehri/nas-boot-server' />

        <!-- Add properties and custom actions for launching and closing the application -->
        <Property Id="WixShellExecTarget" Value="[#exe0]" />
        <CustomAction Id="LaunchApplication"
            BinaryKey="WixCA"
            DllEntry="WixShellExec"
            Impersonate="yes" />

        <!-- Custom action to close the application during uninstall -->
        <CustomAction Id="CloseApplication"
            Directory="APPLICATIONFOLDER"
            ExeCommand="cmd.exe /c taskkill /F /IM nas-boot-client.exe &amp; timeout /t 2 /nobreak >nul"
            Execute="immediate"
            Return="ignore" />

        <!-- Set property for RemoveFolderEx -->
        <Property Id="CONFIGDIR">
            <RegistrySearch Id="ConfigDirSearch"
                Root="HKLM"
                Key="Software\[Manufacturer]\[ProductName]"
                Name="ConfigDir"
                Type="raw" />
        </Property>
        <CustomAction Id="SetConfigDir"
            Property="CONFIGDIR"
            Value="[ConfigDir]"
            Execute="immediate" />

        <UI>
            <UIRef Id='WixUI_FeatureTree' />
        </UI>

        <InstallExecuteSequence>
            <!-- Set the config directory property -->
            <Custom Action="SetConfigDir" After="AppSearch">NOT Installed</Custom>

            <!-- Close application before uninstall -->
            <Custom Action="CloseApplication" Before="InstallValidate">
                Installed AND REMOVE="ALL"
            </Custom>

            <!-- Launch application after install -->
            <Custom Action="LaunchApplication" After="InstallFinalize">
                NOT Installed
            </Custom>
        </InstallExecuteSequence>

        <WixVariable Id='WixUILicenseRtf' Value='wix\License.rtf' />
    </Product>
</Wix>